*{
    margin:0;
    padding:0;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden; 
}



header{
    width: 100%;
    height:13vh;
    background: purple;
    position: fixed;
    z-index: 1;
    opacity:0.8;
    border-bottom: rgb(73, 2, 73) 2px solid;
    overflow-x: hidden;
   
}
ul{
    display: flex;
    justify-content: flex-end;
    padding-right:30px;
   
}
li {
    list-style: none;
    padding: 10px;
    font-size:1.5rem;
    margin-top: 25px;
  
}
a{
    text-decoration: none;
    color:white;
}
a:hover{
    background-color: rgb(235, 10, 96);
    font-weight: 600;
    padding:10px;
}

#work a:hover{
    background-color:grey; 
    
}

#about{

    background: url('img/apple.jpg')no-repeat;
    background-size: cover;
    width:100%;
    height: 100vh;
    color: white;
    opacity: 0.8;
    left:390px;
    border-bottom: rgba(87, 1, 87, 0.945) 8px solid;
    

}

.about{

display: flex;
    flex-direction: column;
    
    text-align: center;
    position: relative;
    top: 270px;
    background: rgba(87, 1, 87, 0.945);
    width:40%;
    left:375px;
    border-bottom: rgba(87, 1, 87, 0.884) 8px solid;
    padding-top: 20px;
    border-radius: 10px;
  
}

.icon{
    display: flex;
    justify-content:center;
    text-align: center;
    position: relative;
    top: 270px;
    width:40%;
    left:350px;
    padding-top: 20px;
    border-radius: 10px;
}

.iconx{
    padding: 10px;
}
.main-img{
    display: flex;
    justify-content: center;
    position: relative;
    top: 130px;
}
#main-img{
    width:135px;
    height:150px;
    border-radius: 350%;
    border: rgba(245, 245, 245, 0.685) 2px solid;
    
}
.about h1{
    font-size:2.2rem;
    font-weight: 400;


}
.about p{
    padding: 10px;
    font-size: 1.1rem;
    font-weight: 350;
 
}
@media (max-width: 900px){


    .sml{
        position: relative;
        right:230px;
    }

   header{
       width:100%;
       overflow: hidden;
     
   }
 


   header ul{
        display: flex;
        justify-content: flex-start;
        padding-right:50px;
    
       
    }


    header li{
    overflow-x: hidden;
    }
    #about{
        overflow-x: hidden;
    }
   
    .about{
        left:16px;
        width: 80%;
        padding: 20px 25px 15px 25px;
       

    }
    #main-img{
        width:150px;
        border-radius: 100%;
        border: rgba(245, 245, 245, 0.685) 2px solid;
    } 
 
  
    .work h2{
        font-weight: 750;
        padding: 10px;
        position: relative;
        bottom: 100px;
    }
    #work h3{
        position: relative;
        bottom: 115px;
    }

    #work-done{
        display: flex;
        flex-direction: column;
        position: relative;
        top:-100px;
    }
    #work-done .item{
        width:160px;
        padding: 1px;
    }
   #work-done .pic2{
        height:80px;;
    }
   #work-done .pic3{
        height: 80px;
        
    }
    
 
}


.item {
    width: 215px;
    padding: 10px;
    padding-top: 10px;
    border-radius: 15px;
}

#work{
    display: flex;
    flex-direction: column;
    background: grey;
    widows: 100%;
    height:100vh;
    color: rgb(37, 10, 39);
}

.pic2{
    height:115px;;
}
.pic3{
    height: 115px;
}
.work{
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    top: 120px;
}

.work h2{
    font-weight: 550;
    padding: 10px;
    padding-top: 7px;
    font-size: 20px;
}

.work h3{
    padding: 20px;
    font-weight: 450;
    position: relative;
    bottom: 0px;
    
}
.inner-head{

    padding: 20px;
    font-weight: 450;
    position: relative;
    top: 250px;

}

#contact{

    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #ccc;
   
}
.icon-contact{
    display: flex;
    justify-content:center;
    text-align: center;
    position: relative;
    width:40%;
    left:320px;
    padding: 20px;
    border-radius: 10px;
    top:30px;

}

#contact h3{
padding: 30px;
top: 40px;
position: relative;
text-align: center;
}
.icon-con{
    display: flex;
    justify-content:center;
    position: relative;
    top: 30px;

}
#contact p{

    position: relative;
    top: 40px;
}

#tech{
    position: relative;
    top:20px;
}

.tech{
    width: 140px;
    position: relative;
    top:20px;
}
.globe{
    width: 80px;
    position: relative;
    top: 20px;
    
}

footer{
    font-weight: 400;
    text-align: center;
    padding: 5px;
    background: rgba(105, 2, 105, 0.849);
    color: white;
}
